<div class="widget">
    <h4 style="color:green">Son Eklenen Yazılar</h4>
    <ul class="recent-posts">
        {% for i in last_four %}
        <li>
            <a style="color:darkgreen" href="#">{{ i.title|title }}</a><br />
            <a href="#">{{ i.description|striptags|slice:"0:100" }}</a>
            <div class="clear">
            </div>
            <span class="date"><i class="icon-calendar"></i>{{ i.date_published }}</span>
            <span class="comment"><i class="icon-comment"></i></span><hr />
        </li>
        {% endfor %}
    </ul>
</div>